.Form {
  display: inline-block; /* Change to inline-block */
  margin: auto;
  width: 200px;

  label {
    display: flex;
    flex-direction: column; /* Change to column */
    align-items: center; /* Add align-items: center */
    margin: 1rem 0;

    &.methods {
      flex-direction: row; /* Add flex-direction: row */
      justify-content: center; /* Add justify-content: center */

      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #037d09;
        border-radius: 8px;
        opacity: 0.7;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

        &:hover,
        &.active {
          background: #06506f;
        }
      }
    }
  }
}

input[type='text'] {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

button[type='submit'] {
  margin-top: 10px;
}
